body {
  font-family: 'Segoe UI';
  background: #fff8f0;
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  url('https://images.unsplash.com/photo-1509440159596-0249088772ff');
  background-size: cover;
}

.overlay {
  background: rgba(0,0,0,0.5);
  padding: 30px;
  border-radius: 10px;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

h2 {
  color: #d63384;
}